body {
  background: var(--color-white);
  color: var(--color-dark);
  font-size: var(--size-step-0);
  font-family: var(--ff-base);
  line-height: var(--leading-standard);
  --flow-space: 6.25rem;
}

section {
  --flow-space: 2.5rem;
  padding-block: var(--section-padding, 0);
  background-color: var(--bg-color, transparent);
  box-shadow: 0 var(--elevation-offsetY, 0) var(--elevation-blur, 0);
}

:target {
  scroll-margin-top: 5rem;
}

input,
textarea,
select {
  padding: 10px 20px;
  min-width: 100%;
  border: 1px solid;
  border-color: var(--color-dark);
  &:valid {
    border-color: var(--color-success);
  }
  &:focus:required:invalid {
    border-color: var(--color-error);
  }
  &:optional {
    border-color: var(--color-dark);
  }
}
